In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

## 1) Write a python program to display all the header tags from wikipedia.org.

In [2]:
page = requests.get('https://en.wikipedia.org/wiki/Main_Page')

In [3]:
page

In [4]:
soup = BeautifulSoup(page.content)

In [5]:
heading_tags = ["h1", "h2", "h3","h4","h5","h6"]
for tags in soup.find_all(heading_tags):
    print(tags.name + ' -> ' + tags.text.strip())

h1 -> Main Page
h1 -> Welcome to Wikipedia
h2 -> From today's featured article
h2 -> Did you know ...
h2 -> In the news
h2 -> On this day
h2 -> Today's featured picture
h2 -> Other areas of Wikipedia
h2 -> Wikipedia's sister projects
h2 -> Wikipedia languages
h2 -> Navigation menu
h3 -> Personal tools
h3 -> Namespaces
h3 -> Views
h3 -> Navigation
h3 -> Contribute
h3 -> Tools
h3 -> Print/export
h3 -> In other projects
h3 -> Languages

## 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [6]:
page_imdb = requests.get('https://www.imdb.com/list/ls091520106/')

In [7]:
page_imdb

In [8]:
soup_imdb = BeautifulSoup(page_imdb.content,"html.parser")

In [9]:
def get_movie_titles(soup_imdb):
    
    selection_class="lister-item-header"
    movie_title_tags=soup_imdb.find_all('h3',{'class':selection_class})
    movie_titles=[]

    for tag in movie_title_tags:
        title = tag.find('a').text
        movie_titles.append(title)
        
        
    return movie_titles

In [10]:
titles = get_movie_titles(soup_imdb)
titles[:5]

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather Part II',
 'The Dark Knight',
 '12 Angry Men']

In [11]:
def get_movie_rating(soup_imdb):
    
    selection_class="ipl-rating-widget"
    movie_rating_tags=soup_imdb.find_all('div',{'class':selection_class})
    movie_ratings=[]

    for tag in movie_rating_tags:
        title = tag.find('span',class_="ipl-rating-star__rating").text
        movie_ratings.append(title)
        
        
    return movie_ratings

In [12]:
rating = get_movie_rating(soup_imdb)
rating[:5]

['9.3', '9.2', '9', '9', '9']

In [13]:
len(rating)

100

In [14]:
def get_movie_year(soup_imdb):
    
    selection_class="lister-item-header"
    movie_year_tags=soup_imdb.find_all('h3',{'class':selection_class})
    movie_year=[]

    for tag in movie_year_tags:
        title = tag.find('span',class_="lister-item-year text-muted unbold").text
        movie_year.append(title)
        
        
    return movie_year

In [15]:
year = get_movie_year(soup_imdb)
year[:5]

['(1994)', '(1972)', '(1974)', '(2008)', '(1957)']

In [16]:
len(year)

100

In [17]:
df = pd.DataFrame({'Movie':titles,'Release_Year':year,'Ratings':rating})

In [18]:
df.head()

                      Movie Release_Year Ratings
0  The Shawshank Redemption       (1994)     9.3
1             The Godfather       (1972)     9.2
2     The Godfather Part II       (1974)       9
3           The Dark Knight       (2008)       9
4              12 Angry Men       (1957)       9

In [19]:
df.shape

(100, 3)

## 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [20]:
page_imdb_1 = requests.get('https://www.imdb.com/list/ls056092300/')
page_imdb_1

In [21]:
soup_imdb_1 = BeautifulSoup(page_imdb_1.content,"html.parser")

In [22]:
def get_movie_titles(soup_imdb_1):
    
    selection_class="lister-item-header"
    movie_title_tags=soup_imdb_1.find_all('h3',{'class':selection_class})
    movie_titles=[]

    for tag in movie_title_tags:
        title = tag.find('a').text
        movie_titles.append(title)
        
        
    return movie_titles

In [23]:
titles = get_movie_titles(soup_imdb_1)
titles[:5]

['Ship of Theseus',
 'Iruvar',
 'Kaagaz Ke Phool',
 'Lagaan: Once Upon a Time in India',
 'Pather Panchali']

In [24]:
def get_movie_rating(soup_imdb_1):
    
    selection_class="ipl-rating-widget"
    movie_rating_tags=soup_imdb_1.find_all('div',{'class':selection_class})
    movie_ratings=[]

    for tag in movie_rating_tags:
        title = tag.find('span',class_="ipl-rating-star__rating").text
        movie_ratings.append(title)
        
        
    return movie_ratings

In [25]:
rating = get_movie_rating(soup_imdb_1)
rating[:5]

['8', '8.4', '7.8', '8.1', '8.3']

In [26]:
def get_movie_year(soup_imdb_1):
    
    selection_class="lister-item-header"
    movie_year_tags=soup_imdb_1.find_all('h3',{'class':selection_class})
    movie_year=[]

    for tag in movie_year_tags:
        title = tag.find('span',class_="lister-item-year text-muted unbold").text
        movie_year.append(title)
        
        
    return movie_year

In [27]:
year = get_movie_year(soup_imdb_1)
year[:5]

['(2012)', '(1997)', '(1959)', '(2001)', '(1955)']

In [28]:
df = pd.DataFrame({'Movie':titles,'Release_Year':year,'Ratings':rating})

df.head()

                               Movie Release_Year Ratings
0                    Ship of Theseus       (2012)       8
1                             Iruvar       (1997)     8.4
2                    Kaagaz Ke Phool       (1959)     7.8
3  Lagaan: Once Upon a Time in India       (2001)     8.1
4                    Pather Panchali       (1955)     8.3

In [29]:
df.shape

(100, 3)

## 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [30]:
page_p = requests.get('https://presidentofindia.nic.in/former-presidents.htm')

page_p

In [31]:
soup_p = BeautifulSoup(page_p.content,"html.parser")

In [32]:
def get_president_name(soup_p):
    
    selection_class="presidentListing"
    name_tags=soup_p.find_all('div',{'class':selection_class})
    name=[]

    for tag in name_tags:
        title = tag.find('h3').text.split("(")[0]
        name.append(title)
        
        
    return name

In [33]:
name = get_president_name(soup_p)

name[:5]

['Shri Ram Nath Kovind ',
 'Shri Pranab Mukherjee ',
 'Smt Pratibha Devisingh Patil ',
 'DR. A.P.J. Abdul Kalam ',
 'Shri K. R. Narayanan ']

In [34]:
def get_president_term(soup_p):
    
    selection_class="presidentListing"
    name_tags=soup_p.find_all('div',{'class':selection_class})
    term_from=[]

    for tag in name_tags:
        title = tag.find('p').text.split(":")[1]
        term_from.append(title)
        
        
    return term_from

In [35]:
term = get_president_term(soup_p)

term[:5]

[' 25 July, 2017 to 25 July, 2022 ',
 ' 25 July, 2012 to 25 July, 2017 ',
 ' 25 July, 2007 to 25 July, 2012 ',
 ' 25 July, 2002 to 25 July, 2007 ',
 ' 25 July, 1997 to 25 July, 2002 ']

In [36]:
df = pd.DataFrame({'Name':name,'Term Of Service':term})

df.head()

                            Name                   Term Of Service
0          Shri Ram Nath Kovind    25 July, 2017 to 25 July, 2022
1         Shri Pranab Mukherjee    25 July, 2012 to 25 July, 2017
2  Smt Pratibha Devisingh Patil    25 July, 2007 to 25 July, 2012
3        DR. A.P.J. Abdul Kalam    25 July, 2002 to 25 July, 2007
4          Shri K. R. Narayanan    25 July, 1997 to 25 July, 2002

## 5) Write a python program to scrape cricket rankings from icc-cricket.com.

In [37]:
page_cri = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

page_cri

In [38]:
soup_cri = BeautifulSoup(page_cri.content,"html.parser")

### a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [39]:
table = soup_cri.find_all('table')

In [40]:
df = pd.read_html(str(table))[0]
df.head(10)

   Pos           Team T  Matches M  Points P  Rating R
0    1      England ENG         27      3226       119
1    2   New Zealand NZ         22      2508       114
2    3        India IND         34      3802       112
3    4     Pakistan PAK         22      2354       107
4    5    Australia AUS         29      3071       106
5    6  South Africa SA         24      2392       100
6    7   Bangladesh BAN         30      2753        92
7    8     Sri Lanka SL         29      2658        92
8    9   West Indies WI         41      2902        71
9   10  Afghanistan AFG         18      1238        69

## b) Top 10 ODI Batsmen along with the records of their team and rating

In [41]:
page_bat = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

page_bat

In [42]:
soup_bat = BeautifulSoup(page_bat.content,"html.parser")

In [43]:
table = soup_bat.find_all('table')

In [44]:
df = pd.read_html(str(table))[0]
df.head(10)

       Pos                 Player Team  Rating
0   2  (0)            Imam-ul-Haq  PAK     779
1   3  (0)  Rassie van der Dussen   SA     766
2   4  (0)        Quinton de Kock   SA     759
3   5  (0)         Jonny Bairstow  ENG     732
4   6  (0)           David Warner  AUS     725
5   7  (0)            Virat Kohli  IND     722
6   8  (0)           Rohit Sharma  IND     718
7   9  (0)            Ross Taylor   NZ     701
8  10  (0)            Steve Smith  AUS     697

## 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

## a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [45]:
page_wcri = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page_wcri

In [46]:
soup_wcri = BeautifulSoup(page_wcri.content,"html.parser")

In [47]:
table = soup_wcri.find_all('table')

In [48]:
df = pd.read_html(str(table))[0]
df.head(10)

   Pos           Team T  Matches M  Points P  Rating R
0    1    Australia AUS         18      3061       170
1    2  South Africa SA         26      3098       119
2    3      England ENG         25      2904       116
3    4        India IND         27      2820       104
4    5   New Zealand NZ         24      2425       101
5    6   West Indies WI         24      2334        97
6    7   Bangladesh BAN         12       932        78
7    8     Pakistan PAK         24      1519        63
8    9     Sri Lanka SL          8       353        44
9   10      Ireland IRE         14       548        39

## 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
## i) Headline
## ii) Time
## iii) News Link

In [49]:
page_news = requests.get('https://www.cnbc.com/world/')

page_news

In [50]:
soup_news = BeautifulSoup(page_news.content,"html.parser")

In [51]:
def get_headline(soup_news):
    
    selection_class="LatestNews-headlineWrapper"
    news_headline=soup_news.find_all('div',{'class':selection_class})
    head=[]

    for tag in news_headline:
        title = tag.find('a',class_="LatestNews-headline").text
        head.append(title)
        
        
    return head

In [52]:
head = get_headline(soup_news)

In [53]:
head

["Cramer's lightning round: AST SpaceMobile is an exciting thing, not a stock",
 'Cramer’s week ahead: Markets will do ‘much better’ during the next four weeks ',
 'White House on Taylor Swift Ticketmaster debacle: Capitalism needs competition',
 "Pro Picks: Watch all of Friday's big stock calls on CNBC",
 "GOP operative convicted of funneling Russian donation to Trump's 2016 campaign ",
 'Theranos founder Elizabeth Holmes sentenced to more than 11 years in prison',
 'U.S. shoppers to spend less this holiday season, but Amazon still stands to gain',
 'The week in review, the week ahead — Nov. 18, 2022',
 'Mark Cuban still believes in crypto despite FTX collapse—here’s why',
 'Flu variant that hits kids and seniors harder than usual is dominant in U.S. now',
 '5 daily practices could up your chances of living to 90',
 'Grindr shares soar as LGBTQ dating app debuts after SPAC merger',
 "Gilman Hill's Jenny Harrington likes this cheap energy stock with a dividend",
 "Michelle Obama's philosophy on marriage ",
 'Frisch concedes to MAGA Republican Boebert in tight race for Colorado House seat',
 "Buyers need a 6-figure income to afford a 'typical' home, report finds",
 'What to watch in the markets in the week ahead',
 'US AG Garland names Trump special counsel for criminal probes',
 "This week's best performers include several retail stocks, one exchange operator",
 "#RIPTwitter is trending. Here's how to download your Twitter archive",
 'AG Garland names special counsel Jack Smith in Trump criminal probes',
 "Read Elon Musk's Friday emails to Twitter engineers asking them to come to work",
 'Goldman names Amazon and Etsy as top stocks heading into 2022 holiday season',
 'Credit Suisse touts drug stocks as a top place to be. These are our 2 favorites',
 "Employers plan 2023 pay increases of 4.6%, slightly above this year's 4.2%",
 'Stocks making the biggest moves midday: Ross Stores, Carvana, Coinbase and more',
 "Taylor Swift slams tour ticket fiasco, but doesn't name Ticketmaster",
 'Bob Pisani: Heed the investment wisdom of Jack Bogle and keep it simple ',
 'Biden administration asks Supreme Court to lift block on student loan forgiveness',
 '3 takeaways from our daily meeting: Oil buy, P&G tailwinds, sticking by TJX']

In [54]:
def get_time(soup_news):
    
    selection_class="LatestNews-container"
    news_time=soup_news.find_all('div',{'class':selection_class})
    time=[]

    for tag in news_time:
        title = tag.find('time',class_="LatestNews-timestamp").text
        time.append(title)
        
        
    return time

In [55]:
time = get_time(soup_news)

In [56]:
time

['22 Min Ago',
 '56 Min Ago',
 '2 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '6 Hours Ago',
 '6 Hours Ago',
 '6 Hours Ago',
 '6 Hours Ago',
 '6 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago']

In [57]:
df = pd.DataFrame({'Headline':head,'Time':time})

df.head()

                                            Headline         Time
0  Cramer's lightning round: AST SpaceMobile is a...   22 Min Ago
1  Cramer’s week ahead: Markets will do ‘much bet...   56 Min Ago
2  White House on Taylor Swift Ticketmaster debac...  2 Hours Ago
3  Pro Picks: Watch all of Friday's big stock cal...  3 Hours Ago
4  GOP operative convicted of funneling Russian d...  3 Hours Ago

## 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

## i) Paper Title
## ii) Authors
## iii) Published Date
## iv) Paper URL

In [58]:
page_ai = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

page_ai

In [59]:
soup_ai = BeautifulSoup(page_ai.content,"html.parser")

In [60]:
title_p=[]

for i in soup_ai.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
        title_p.append(i.text)

In [61]:
title_p

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

In [62]:
author=[]

for i in soup_ai.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
        author.append(i.text)

In [63]:
author

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

In [64]:
release=[]

for i in soup_ai.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
        release.append(i.text)

In [65]:
release

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [66]:
df = pd.DataFrame({'Paper':title_p,'Author':author,'Release_date' :release })

df.head()

,Paper,Author,Release_date
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017

## 9) Write a python program to scrape mentioned details from dineout.co.in :
## i) Restaurant name
## ii) Cuisine
## iii) Location
## iv) Ratings
## v) Image URL

In [67]:
page_dine = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')

page_dine

In [68]:
soup_dine = BeautifulSoup(page_dine.content,"html.parser")

In [69]:
title=[]

for i in soup_dine.find_all('a',class_="restnt-name ellipsis"):
        title.append(i.text)

In [70]:
title

['Castle Barbeque',
 'Jungle Jamboree',
 'Castle Barbeque',
 'Cafe Knosh',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [71]:
cuisine=[]

for i in soup_dine.find_all('span',class_="double-line-ellipsis"):
        cuisine.append(i.text.split("|")[1])

In [72]:
cuisine

[' Chinese, North Indian',
 ' North Indian, Asian, Italian',
 ' Chinese, North Indian',
 ' Italian, Continental',
 ' North Indian, Chinese',
 ' North Indian, Italian',
 ' North Indian',
 ' North Indian',
 ' North Indian, Mughlai']

In [73]:
loc=[]

for i in soup_dine.find_all('div',class_="restnt-loc ellipsis"):
        loc.append(i.text)

In [74]:
loc

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [75]:
rating=[]

for i in soup_dine.find_all('div',class_="restnt-rating rating-4"):
        rating.append(i.text)

In [76]:
rating

['4.1', '3.9', '3.9', '4.3', '4', '3.9', '3.6', '3.8', '4.3']

In [77]:
img =[]

for i in soup_dine.find_all('img',class_="no-img"):
        img.append(i.get("data-src"))

In [78]:
img

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [79]:
df = pd.DataFrame({'Restaurant_Name':title,'Cuisine':cuisine,'Location' :loc,'Rating':rating,'Image_URL':img })

df.head()

,Restaurant_Name,Cuisine,Location,Rating,Image_URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...

## 10) Write a python program to scrape the details of top publications from Google Scholar from

## i) Rank
## ii) Publication
## iii) h5-index
## iv) h5-median

In [80]:
page_gs = requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en&vq=eng')

page_gs

In [81]:
soup_gs = BeautifulSoup(page_gs.content,"html.parser")

In [82]:
table = soup_gs.find_all('table')

In [83]:
df = pd.read_html(str(table))[0]
df.head(10)

,Unnamed: 0,Publication,h5-index,h5-median
0,1.0,IEEE/CVF Conference on Computer Vision and Pat...,389,627
1,2.0,Advanced Materials,312,418
2,3.0,International Conference on Learning Represent...,286,533
3,4.0,Neural Information Processing Systems,278,436
4,5.0,IEEE/CVF International Conference on Computer ...,239,415
5,6.0,International Conference on Machine Learning,237,421
6,7.0,Renewable and Sustainable Energy Reviews,227,324
7,8.0,Advanced Energy Materials,220,300
8,9.0,ACS Nano,211,277
9,10.0,Journal of Cleaner Production,211,273